@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #ffffff;
  background-color: #000;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgb(87, 87, 87);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
  border: 1px solid gray;
}
